.task {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  border-top: 10px solid transparent;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.task:hover {
  transform: scale(1.05);
  cursor: grab;
}

.task:active {
  background-color: rgba(128, 128, 128, 0.2);
}

.editing {
  box-shadow: 0 0 30px black;
}

.taskText {
  width: 100%;
  min-height: 75px;
  border: none;
  padding: 0;
  box-shadow: none;
  outline: none;
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.2s ease;
  resize: vertical;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
  font-size: 0.7rem;
}

.button {
  padding: 0.5em 2em;
  transition: 0.3s ease-in-out;
}

.save {
  font-weight: 800;
}

.remove:hover {
  opacity: 1;
  color: red;
}

.save:hover {
  color: black;
}

.edit:hover {
  color: green;
}

.pending {
  color: var(--pending);
}

.done {
  color: var(--done);
}

.progress {
  color: var(--progress);
}
